/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border-color: rgb(68, 75, 77);
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Cor principal */
    --primary-color: #f64b00;
     /* Cor de fonte */
    --secondary-color: #f4e8cd;
    /* Cor de fundo */
    --tertiary-color: #161622;
    /* Cor de fundo secundária */
    --quaternary-color: #2e2e3e;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--tertiary-color);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}